---
permalink: /humans.txt
eleventyExcludeFromCollections: true
layout: null
date: Last Modified
---

/* WHO */

  Adam DJ Brett
  Website: adamdjbrett.com
  Twitter: @__adjb
  From: Syracuse, NY, USA

/* THANKS */

  Eleventy Creator: Zachleat
  Twitter: @zachleat


/* Credits */

  Static Site Generator: Eleventy
	Twitter: @eleven_ty
  Website: 11ty.dev

  Shane Robinson Linkist Theme
  website: https://github.com/shanerobinson/linkist

/* SITE */

	Last update: {{ page.date }}
	Language: English
  Generator: Eleventy
  Theme: Front Cover  Theme
  Fonts: Font-Awesome
	Doctype: HTML5
	IDE: Terminal, VS Code
